body {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1DB954;
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Cairo', sans-serif;
    line-height: 1.5vh;
}

#blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.restart {
    margin: auto auto;
    text-align: center;
}

#grid-size {
    opacity: 0;
    transition: 0.5s;
    display: flex;
    min-width: 10vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 90%;
    margin-right: auto;
    margin-top: 0.86vh;
    margin-left: 8vw;
}

.grid-option label {
    padding-left: 0.5vw;
}

#grid-size.down {
    opacity: 1;
}

.grid-option {
    height: 15%;
    display: grid;
    grid-template-columns: 13px 13px auto;
    grid-template-rows: auto 13px auto;
}

p.win {
    margin: 5vh auto;
    text-align: center;
    font-size: 2em;
    font-weight: 500;

}

div.win-text {
    opacity: 0;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 10vh;
    top: 32%;
    left: 73%;
    transition: 0.8s;
}

input {
    background-color: white;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    color: white;
    border-radius: 0.8vh;
    width: 100%;
    height: 100%;
    margin: auto 0;
    appearance: none;
    border: 2px solid black;
    transition: 0.4s;
}

input:checked {
    background-color: black;
}

label {
    vertical-align: middle;
    margin: auto 0;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#plug {
    font-size: medium;
    font-weight: 100;
    position: absolute;
    top: 5vh;
    left: 1vh;
    opacity: 0;
    transition: 0.7s;
}

#plug.down {
    opacity: 1;
}

input:hover {
    box-shadow: 0 0 2em #1db95463, inset 0 0 1em #1db95463;
}

button.win:hover {
    box-shadow: 0 0 4em #0e512663, inset 0 0 4em #0e512663;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    max-height: 160px;
}

h3 {
    margin: 0 auto;
}

#grid-heading {
    margin: 0;
    text-align: left;
}

header.down {
    height: 28vh;
    max-height: 260px;
}

#dropdown {
    height: 6vh;
    width: fit-content;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-left: 0.2vw;
}

header img {
    transition: 0.8s;
    max-height: 80%;
    margin: auto;
    border-radius: 4px;
}

header.down img {
    background-color: #1db95458;
}

#reset {
    max-height: 85%;
    margin: 0;
}

button.win {
    transition: 1s;
    margin: auto auto;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 2em;
    width: 7em;
    height: 1.7em;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-scores {
    max-height: 100%;
}

.win-container p {
    text-align: center;
}

.win-container {
    padding-right: 1.8vh;
    padding-top: 2.4vh;
    width: 15vw;
    height: 300%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: 0.5s;
}

.score {
    max-height: 80%;
    width: 100%;
    max-width: 120px;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.win-container.down {
    opacity: 1;
}

#boogie-gif {
    position: absolute;
    height: 40vh;
    top: 17%;
    left: 10%;
}

#boogie-gif img {
    height: 100%;
}

#boogie-button {
    opacity: 0.03;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.outer-container {
    border-radius: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16vh auto;
    background-color: black;
    opacity: 1;
    width: 50vh;
    height: 50vh;
    max-width: 95vw;
    max-height: 95vw;
}

.game-container {
    border-radius: 1.5vh;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2%;
    padding: 2%;
    width: 96%;
    height: 96%;
}

input#bot-mode {
    display: flex;
    justify-content: center;
    height: 13px;
    width: 13px;
    
}

label#bot {
    height: 13px;
    margin: auto 0;
    font-size: 0.8em;
    height: 2vh;
    width: fit-content;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
}

.bot-option {
    scale: 0;
    font-weight: bolder;
    width: 15vw;
    position: absolute;
    top: 15vh;
    left: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}

.bot-option.down {
    /* scale: 100%; */
    top: 15vh;
    opacity: 1;
}

.game-slot {
    transition: 0.6s;
    border-radius: 0.7vh;
    background-color: black;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-slot img {
    width: 84%;
    height: 84%;
    position: relative;
    opacity: 1;
    top: 0;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.53,.02,.78,.59);
}

img.preview {
    opacity: 0.4 !important;
    transition: 0.5s;
    pointer-events: none;
}

img.animation {
    transition: 0.4s;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

img.animationC4 {
    transition: 0.4s;
    width: 100%;
    height: 100%;
}

.blueteam {
    filter: invert(51%) sepia(59%) saturate(535%) hue-rotate(89deg) brightness(98%) contrast(104%);
}

.redteam {
    filter: invert(19%) sepia(97%) saturate(4175%) hue-rotate(347deg) brightness(105%) contrast(101%);
}

img.connect-4 {
    top: -50vh;
    opacity: 0;
    transition: 2s !important;
    /* transition-timing-function: "ease-out"; */
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

img.tic-tac {
    position: relative;
    top: -10px;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: "ease-in";
}

@media (max-width: 1000px) {
    div.win-text {
        position: relative;
        top: 0;
        left: 0;
        height: 10vh;
        margin-bottom: 10vh;
    }

    .bot-option {
        width: 35vw;
    }

    label#bot {
        padding-left: 1vw;
        padding-top: 0.3vh;
    }

    #boogie-button {
        opacity: 0;
    }

    #dropdown {
        padding-left: 1vw;
    }
}

@media (max-width: 640px) {
    .outer-container {
        width: 45vh;
        height: 45vh;
    }

    img.connect-4 {
        top: -28vh;
    }

    .bot-option {
        padding-top: 5vh;
        top: 7vh;
    }

    label#bot {
        padding-left: 2vw;
        font-size: 0.6em;
    }

    #grid-size {
        margin-top: 0.4vh;
        height: 80%;
    }

    header.down {
        height: 40vh;
        max-height: 40vh;
    }

    #plug {
        font-size: 0.75em;
    }
}

