body {
    background-color: #1DB954;
    max-width: 100vw;
    margin: 0 auto;
}

nav {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between ;
    background-color: rgb(255, 255, 255);
}

#dropdown {
    height: 6vh;  
    width: 6vh;  
    display: flex;
    align-items: center;
}

img {
    max-height: 80%;
    margin: auto;
}

.outer-container {
    border-radius: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    background-color: black;
    opacity: 1;
    width: 45vh;
    height: 45vh;
}

.game-container {
    border-radius: 1.5vh;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2%;
    padding: 2%;
    width: 96%;
    height: 96%;
}

.game-slot {
    border-radius: 0.7vh;
    background-color: white;
    opacity: 0.85;
    height: 100%;
    width: 100%;
}