.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 68;
    font-size: 15vh;
}

.preview {
    opacity: 0.4;
    transition: 0.5s;
    pointer-events: none;
}

body {
    background-color: #1DB954;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5vh;
}

#grid-size {
    opacity: 0;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#grid-size.down {
    opacity: 1;
}

.grid-option {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input {
    background-color: white;
    color: white;
    border-radius: 0.8vh;
    width: 13px;
    height: 13px;
    margin: auto 0;
    appearance: none;
    border: 2px solid black;
    transition: 0.4s;
}

input:checked {
    background-color: black;
}

label {
    vertical-align: middle;
    margin: auto 0;

}

#plug {
    font-size: medium;
    font-weight: bold;
    position: absolute;
    top: 5vh;
    left: 1vh;
    opacity: 0;
    transition: 0.7s;
}

#plug.down {
    opacity: 1;
}

input:hover {
    box-shadow: 0 0 2em #1db95463, inset 0 0 1em #1db95463;
}

header {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    max-height: 160px;
}

h3 {
    margin: 0 auto;
}

header.down {
    height: 24vh;
    max-height: 160px;
}

#dropdown {
    height: 6vh;
    width: fit-content;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

img {
    max-height: 80%;
    margin: auto;
}

.score {
    max-height: 80%;
    margin: auto 0;
    padding: 0 5%;
}

.outer-container {
    border-radius: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
    background-color: black;
    opacity: 1;
    width: 50vh;
    height: 50vh;
    max-width: 95vw;
    max-height: 95vw;
}

.game-container {
    border-radius: 1.5vh;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2%;
    padding: 2%;
    width: 96%;
    height: 96%;
}

.game-slot {
    border-radius: 0.7vh;
    background-color: rgb(255, 255, 255);
    opacity: 0.85;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-slot img {
    width: 81%;
    height: 84%;
    transition: 0.5s;
}

@media (max-width: 640px) {
    .outer-container {
        width: 45vh;
        height: 45vh;
    }

    .material-symbols-outlined.md-48 {
        font-size: 13vh;
    
    }

    #plug {
        font-size: 0.75em;
    }
}